<h1>All Lists</h1>

<ul class ="card-container">
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<button class="btn"><%= link_to "Add New List", new_list_path%></button>

<%# <%= cl_image_tag("https://res.cloudinary.com/de4yia9u4/image/upload/v1668786354/vpzjuvznnbbv5tqa208w.jpg",
      width: 400, height: 300, crop: :fill) %>

<%# <%= cl_image_tag("https://res.cloudinary.com/de4yia9u4/image/upload/v1668786379/s5vdywtuvhbxmssv8xcz.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
